// couleur hexadécimale
$orange: #ff7d13;
$blue: #0B9999;
$beige: #f7eee2;
$grey: #666666;

// Couleur sémantique

// Couleur PRIMAIRE et ses teintes dérivées
$primary-color: $orange;
$primary-color-light: #ff9036;
$primary-color-light-2: #ffa459;
$primary-color-light-3: #ffb87d;
$primary-color-light-4: #ffcba1;
$primary-color-light-5: #ffdec4;
$primary-color-dark: #d96a10;

// Couleur SECONDAIRE et ses teintes dérivées
$secondary-color: $blue;
$secondary-color-light: #2fa8a7;
$secondary-color-light-2: #53b7b6;
$secondary-color-light-3: #78c6c4;
$secondary-color-light-4: #9cd4d3;
$secondary-color-dark: #0a8989;

// Couleur de FOND et ses teintes dérivées
$background-color: $beige;
$background-color-light: #fff6eb;
$background-color-light-2: #fffcf7;
$background-color-dark-2: #f1e8dd;
$background-color-dark: #e8dfd3;
$background-color-dark-3: #d3cbc0;

// Couleur de TEXTE et ses teintes dérivées
$text-color: $grey;
$text-color-light: #7d7c7c;
$text-color-light-2: #939392;
$text-color-dark: #565656;

// Importe la google WebFont Meriweahter en normal et bold
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);

@import "compass/css3";

@import "sprites/*.png";
@include all-sprites-sprites;

$card-spacing :43px;
@import "card/*.png";
@include all-card-sprites;

// Marge appliquée de manière persitente aux travers du design. Variabilisée pour le responsive
$main-gutter: 30px; 
$phone-gutter: 10px;

// Définie les points de ruptures pour le responsive
// Ici c'est pour les téléphones
$break-phone: "only screen and (max-width : 600px)";

@import "base";
@import "theme";
@import "tools";
@import "module";
@import "layout";
@import "game/animation";
@import "game/tap-tap";
@import "state";
@import "responsive";
@import "bootstrap.min.css";
@import "bootstrap-responsive.min.css";
//@import "compass_twitter_bootstrap_responsive";
//@import "compass_twitter_bootstrap/grid";
@import "compass_twitter_bootstrap/font-awesome";