<div class="row-fluid">
  <section class="categories-area box span3">
    <h6 class="title">Catégories mises en jeu:</h6>
    <ul>
      <li data-ng-repeat="category in current_categories" data-ng-class="{active: category.played}">
        {{ category.data.title }}
      </li>
      <div class="clear"></div>
    </ul>
  </section>

  <section class="box playground span9 container-fluid {{ actual_class }}">
    <div class="card-area row-fluid">
        <div class="span3 relative{{ pledge.reveal }}" data-ng-repeat="pledge in current_pledges">
          <div class="front card is-not-revealed" data-ng-click="reveal($index)">
          </div>
          <div class="back card default is-revealed">
            <p class="category">{{ pledge.data.category.title }}</p>
            <div class="first-background-color"></div>
            <div class="first-background-image"></div>
            <div class="second-background-color"></div>
            <div class="second-background-image"></div>
          </div>
        </div>

      <div class="clear"></div>
    
      <form class="action row-fluid" data-ng-submit="getPledge()" data-ng-show="show_new_turn">
        <button type='submit' class="btn btn-primary span4 offset4 btn-huge">
          <span data-ng-show="first_shot"><i class='icon-play'></i> Démarrer une partie</span>
          <span data-ng-hide="first_shot"><i class="icon-repeat"></i> Nouveau tour</span>
        </button>
      </form>      

    </div>

    <div class="pledge-area">
      <section class="pledges">
        <article>
          <h2>{{ display_pledge.title }} </h2>

          <p class="description">{{ display_pledge.description }}</p>
        </article>
      </section>
    </div>

    <div class="clear"></div>

  </section>
</div>

  <section class="box activities" data-ng-show="history_pledges_play.length > 0">
    <table class="table">
      <tbody data-ng-repeat="pledge in history_pledges_play">
        <tr>
          <td class="rank">#{{pledge.turn}}</td>
        </tr>     
      </tbody>
    </table>
  </section>
