<div class="" ng-controller="TapTapCtrl" ng-click="addTapTap()" click-effect="">
	<div class="container" >        
	    <div class="row-fluid">
	         <div class="introduction span8 offset2">
	            <div class="introduction-wrapper">
	                <header>
	                    <h1>Tap-tap</h1>
	                </header>
	                <div class="content">
	                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, nihil, amet error quod porro mollitia rerum vitae explicabo vel animi sed adipisci architecto iste quo iusto saepe cupiditate iure laborum!</p>   
	                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio omnis magnam neque mollitia nemo natus.</p>               
<!-- 		                <div class="score">
		                	<ul>
		                		<li ng-repeat="(key, sco) in score"> Player {{key}} : {{sco}}</li>
		                	</ul>
		                </div> -->
	                </div>



	                <div class="winner" ng-show="win_player">
	                	The winner is player n° {{win_player}}
	                </div>   

	                <footer>
	                    <p>
	                    	<a href="" class="btn btn-primary btn-huge" ng-hide="is_playing" ng-click="playTapTap()"> 
	                    		commencer le jeu ! 
	                    	</a>
	                    </p>

	                  <p ng-show="is_playing && count_down != 0"> {{count_down}} </p>
	                  
	                  <p class="small light">joueur {{actual_player}}: à toi de jouer</p>
	              </footer>               
	          </div>
	      </div>
	   <!--   <div class="sreen-game tap-tap interface-is-displayed">
	        <div class="timer">
	            <span>1</span>
	        </div>
	        <ul class="gauge">
	            <li class="level-1"></li>
	            <li class="level-2"></li>
	            <li class="level-3"></li>
	            <li class="level-4"></li>
	            <li class="level-5"></li>
	            <li class="level-6"></li>
	        </ul>
	        <p class="light small instruction">Tap !!</p>
	      </div> -->
	  </div>
	</div>
</div>