@import "tap-tap";

.mini-game {
   header, .content {   
     -webkit-backface-hidden: hidden;
     -webkit-animation-name: game-header-body;
     -webkit-animation-duration: 1200ms;
     -webkit-animation-timing-function: ease-in;
     -webkit-animation-iteration-count: 1;
     -webkit-animation-direction: normal;
     -webkit-animation-delay: 0;
     -webkit-animation-play-state: running;
     -webkit-animation-fill-mode: forwards; 
   }
   footer {
      position: relative;
     -webkit-backface-hidden: hidden;
     -webkit-animation-name: game-footer;
     -webkit-animation-duration: 1200ms;
     -webkit-animation-timing-function: ease-in;
     -webkit-animation-iteration-count: 1;
     -webkit-animation-direction: normal;
     -webkit-animation-delay: 0;
     -webkit-animation-play-state: running;
     -webkit-animation-fill-mode: forwards;       
   }
}
@-webkit-keyframes game-header-body {
   0% {
      opacity: 0;
   }

   33% {
      opacity: 1;
   }

   66% {
      opacity: 1;
   } 

   100% {
      opacity: 1;
   }
}
@-webkit-keyframes game-footer {
   0% {
      opacity: 0;
      top: 20px;
   }

   33% {
      opacity: 0;
      top: 20px;
   }

   66% {
      opacity: 1;
      top: 0;
   } 

   100% {
      opacity: 1;
      top: 0;
   }
}