.mini-game {
	.tap-tap {
		.timer {
			font-size: 60px;
			position: absolute;
			right: -100px;
			opacity: 0;
			color: $primary-color;
		}
		.gauge {
			position: absolute;
			top: $main-gutter;
			left: -45px;
			opacity: 0;
			margin: 0;	
			li {
				height: 20px;
				display: block;
				margin: 0 0 $main-gutter / 4 0;
				@extend .border-radius;
			}
			.level-1 {
				width: 45px;
				background: $primary-color;
			}
			.level-2 {
				width: 40px;
				background: $primary-color-light;
			}
			.level-3 {
				width: 35px;
				background: $primary-color-light-2;
			}
			.level-4 {
				width: 30px;
				background: $primary-color-light-3;
			}
			.level-5 {
				width: 25px;
				background: $primary-color-light-4;
			}
			.level-6 {
				width: 20px;
				background: $primary-color-light-5;
			}															
		}
	}
}