@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
@import url(bootstrap.min.css);
@import url(bootstrap-responsive.min.css);
/* line 42, sprites/*.png */
.sprites-sprite, .sprites-Swally-logo {
  background: url('../images/sprites-sdd5f21941a.png') no-repeat;
}

/* line 60, ../../../../../../Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.sprites-Swally-logo {
  background-position: 0 0;
}

/* line 58, card/*.png */
.card-sprite, .card-front, .card-mask-lvl-1, .card-mask-lvl-2, .card.is-not-revealed, .card.is-revealed .first-background-image, .card.is-revealed .second-background-image {
  background: url('../images/card-s01815f1af0.png') no-repeat;
}

/* line 60, ../../../../../../Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.card-front {
  background-position: 0 0;
}

/* line 60, ../../../../../../Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.card-mask-lvl-1 {
  background-position: 0 -577px;
}

/* line 60, ../../../../../../Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.card-mask-lvl-2 {
  background-position: 0 -297px;
}

/* line 3, ../sass/_base.scss */
body {
  background: #f7eee2;
  position: relative;
}

/* line 8, ../sass/_base.scss */
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 14, ../sass/_base.scss */
body, p {
  margin: 0;
  padding-bottom: 10px;
  font-family: "Merriweather", georgia, arial;
  font-size: 16px;
  line-height: 1.5em;
  color: #666666;
}

/* line 25, ../sass/_base.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, .card.is-revealed .category, h6, .h6 {
  margin: 10px 0 10px 0;
  font-family: "Merriweather", georgia, arial;
  font-weight: 900;
}

/* line 31, ../sass/_base.scss */
h1, .h1 {
  color: #ff7d13;
  font-size: 40px;
  line-height: 40px;
}

/* line 37, ../sass/_base.scss */
h2, .h2 {
  color: #ff7d13;
  font-size: 30px;
  line-height: 40px;
}

/* line 42, ../sass/_base.scss */
h3, .h3 {
  color: #0b9999;
  font-size: 24px;
  line-height: 40px;
}

/* line 47, ../sass/_base.scss */
h4, .h4 {
  color: #0b9999;
  font-size: 20px;
  line-height: 20px;
}

/* line 52, ../sass/_base.scss */
h5, .h5, .card.is-revealed .category {
  color: #565656;
  font-size: 18px;
  line-height: 20px;
}

/* line 57, ../sass/_base.scss */
h6, .h6 {
  color: #565656;
  font-size: 16px;
  line-height: 20px;
}

/* line 63, ../sass/_base.scss */
a {
  padding-bottom: 1px;
  color: #ff7d13;
  text-decoration: none;
}
/* line 68, ../sass/_base.scss */
a:hover {
  padding-bottom: 0;
  color: #ff7d13;
  border-bottom: solid 1px #ff7d13;
}
/* line 74, ../sass/_base.scss */
a:active {
  padding-bottom: 0;
  background: #f7eee2;
  border-bottom: solid 1px #d96a10;
  color: #d96a10;
}

/* line 82, ../sass/_base.scss */
ul, li {
  list-style: none;
  padding-left: 0;
}

/* line 86, ../sass/_base.scss */
table {
  width: 100%;
  padding: 0;
  margin: 0;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 94, ../sass/_base.scss */
td {
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

/* line 2, ../sass/_tools.scss */
.primary-gradient, .btn.btn-primary:hover, .main-bar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9036), color-stop(100%, #ff7d13));
  background-image: -webkit-linear-gradient(#ff9036, #ff7d13);
  background-image: -moz-linear-gradient(#ff9036, #ff7d13);
  background-image: -o-linear-gradient(#ff9036, #ff7d13);
  background-image: linear-gradient(#ff9036, #ff7d13);
}

/* line 5, ../sass/_tools.scss */
.classic-gradient {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(#ffffff, #f0f0f0);
  background-image: -moz-linear-gradient(#ffffff, #f0f0f0);
  background-image: -o-linear-gradient(#ffffff, #f0f0f0);
  background-image: linear-gradient(#ffffff, #f0f0f0);
}

/* line 9, ../sass/_tools.scss */
.classic-shadow, .box, .tag, .main-bar {
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 1px 1px;
}

/* line 12, ../sass/_tools.scss */
.no-shadow, .tag .is-disabled {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
}

/* line 16, ../sass/_tools.scss */
.rounded, .box, .tag, .border-radius, .mini-game .tap-tap .gauge li {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

/* line 20, ../sass/_tools.scss */
.small, .tag {
  font-size: 0.8em;
  line-height: 1.4em;
}

/* line 25, ../sass/_tools.scss */
.very-small {
  font-size: 0.6em;
  line-height: 1.3em;
}

/* line 30, ../sass/_tools.scss */
.light {
  color: #939392;
}

/* line 34, ../sass/_tools.scss */
.clear, .clearfix {
  clear: both;
}

/* line 37, ../sass/_tools.scss */
.relative {
  position: relative;
}

/* line 40, ../sass/_tools.scss */
.block {
  display: block;
}

/* line 43, ../sass/_tools.scss */
.is-valid, .is-validated {
  color: #0fcc0f;
}

/* line 46, ../sass/_tools.scss */
.is-green {
  color: #0fcc0f;
}

/* line 2, ../sass/_module.scss */
.box {
  padding: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  border: solid 1px #beb2a2;
  background: #fffcf7;
}

/* line 12, ../sass/_module.scss */
.tag {
  margin: 0 10px 0 0;
  padding: 2px 13px;
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  background-color: #0b9999;
}
/* line 24, ../sass/_module.scss */
.tag:hover {
  cursor: pointer;
  background-color: #0a8989;
}
/* line 28, ../sass/_module.scss */
.tag:active, .tag.is-active {
  background-color: #0a8989;
  -webkit-box-shadow: white 0px 1px 1px;
  -moz-box-shadow: white 0px 1px 1px;
  box-shadow: white 0px 1px 1px;
  color: #fff6eb;
}

/* line 35, ../sass/_module.scss */
.sub-bar {
  padding: 30px;
  background: #f1e8dd;
  border-bottom: 1px solid #d3cbc0;
}

/* line 42, ../sass/_module.scss */
.btn {
  display: inline-block;
  padding: 4px 12px;
  border: solid 1px #d3cbc0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: #ff7d13;
  font-weight: 700;
  text-align: center;
}
/* line 54, ../sass/_module.scss */
.btn.btn-primary {
  border: solid 1px #d96a10;
  color: #fff6eb;
  background-color: #ff7d13;
}
/* line 59, ../sass/_module.scss */
.btn.btn-primary:hover {
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.55) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 1px 1px;
}
/* line 64, ../sass/_module.scss */
.btn.btn-primary:active {
  background-image: none;
  background-color: #d96a10;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 0px 1px 1px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0 0px 1px 1px inset;
  box-shadow: rgba(0, 0, 0, 0.45) 0 0px 1px 1px inset;
  border: solid 1px rgba(0, 0, 0, 0);
}
/* line 71, ../sass/_module.scss */
.btn.btn-large {
  padding: 7px 20px;
}
/* line 74, ../sass/_module.scss */
.btn.btn-huge {
  font-size: 20px;
  font-weight: normal;
  padding: 10px 15px;
}

/* line 82, ../sass/_module.scss */
.table tr, .table th {
  background-color: white;
}
/* line 85, ../sass/_module.scss */
.table tbody:nth-child(odd) td, .table tbody:nth-child(odd) th {
  background-color: #fffcf7;
}
/* line 88, ../sass/_module.scss */
.table tbody, .table tr {
  vertical-align: middle;
}
/* line 92, ../sass/_module.scss */
.table tbody:first-child td {
  border: none;
}
/* line 96, ../sass/_module.scss */
.table td {
  display: table-cell;
  padding: 12px;
  border-top: solid 1px #f1e8dd;
  text-align: left;
}

/* line 108, ../sass/_module.scss */
.card,
.first-background-color,
.second-background-color,
.first-background-image,
.second-background-image {
  width: 100%;
  max-width: 156px;
  height: 254px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* line 114, ../sass/_module.scss */
.card {
  position: relative;
  border: solid 1px #c4bcb2;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px;
  text-align: center;
}

/* line 120, ../sass/_module.scss */
div.effect-click {
  width: 6px;
  height: 6px;
  background: blue;
  border-radius: 20px;
  position: absolute;
}

/* line 2, ../sass/_layout.scss */
.main-bar {
  width: 100%;
  height: 35px;
  position: relative;
  z-index: 100;
}
/* line 10, ../sass/_layout.scss */
.main-bar h1 {
  display: inline-block;
  height: 34px;
  width: 137px;
  vertical-align: middle;
  text-align: center;
}
/* line 18, ../sass/_layout.scss */
.main-bar td {
  height: 100%;
  vertical-align: middle;
}
/* line 22, ../sass/_layout.scss */
.main-bar .logo {
  height: 30px;
  background-image: url(../images/logo.svg);
  background-size: 116px;
  background-repeat: no-repeat;
  background-position: center 7px;
  background-size: 80px;
  width: 140px;
  padding: 3px 30px 0 30px;
  margin: 5px 0;
}
/* line 33, ../sass/_layout.scss */
.main-bar .quote {
  padding-left: 30px;
}
/* line 37, ../sass/_layout.scss */
.main-bar .user {
  text-align: right;
  padding-right: 60px;
}
/* line 41, ../sass/_layout.scss */
.main-bar p, .main-bar a, .main-bar span {
  vertical-align: middle;
  color: #ffffff;
  padding-bottom: 0;
}

/* line 48, ../sass/_layout.scss */
.navigation {
  width: 140px;
  padding: 30px;
  background: #e8dfd3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) -2px 3px 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) -2px 3px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.25) -2px 3px 3px inset;
}
/* line 54, ../sass/_layout.scss */
.navigation a {
  display: inline-block;
  padding: 5px 15px 6px 15px;
}
/* line 57, ../sass/_layout.scss */
.navigation a:hover {
  padding-bottom: 5px;
}

/* line 64, ../sass/_layout.scss */
.main-content {
  padding: 30px;
}
/* line 66, ../sass/_layout.scss */
.main-content .box {
  margin: inherit 30px 30px 30px;
}
/* line 69, ../sass/_layout.scss */
.main-content .activities {
  padding: 0;
}

/* line 73, ../sass/_layout.scss */
.table-main-content {
  position: relative;
}

/* line 78, ../sass/_layout.scss */
.playground {
  padding: 0;
}
/* line 80, ../sass/_layout.scss */
.playground .name {
  font-size: 16px;
  font-weight: 400;
}
/* line 84, ../sass/_layout.scss */
.playground .content {
  width: 75%;
  float: left;
  padding-right: 5%;
}
/* line 91, ../sass/_layout.scss */
.playground .btn {
  margin-bottom: 15px;
  margin-top: 20px;
}
/* line 95, ../sass/_layout.scss */
.playground .btn i {
  font-weight: normal;
}
/* line 98, ../sass/_layout.scss */
.playground .time-played {
  text-align: center;
}

/* line 102, ../sass/_layout.scss */
.card-area {
  padding: 3%;
  box-sizing: border-box;
}
/* line 105, ../sass/_layout.scss */
.card-area .card {
  left: 18px;
}
/* line 108, ../sass/_layout.scss */
.card-area ul {
  margin: 0;
}
/* line 111, ../sass/_layout.scss */
.card-area .card-container {
  position: relative;
}
/* line 116, ../sass/_layout.scss */
.card-area .card-container:first-child {
  margin-left: 0;
}

/* line 121, ../sass/_layout.scss */
.categories-area, .playground {
  float: left;
}

/* line 125, ../sass/_layout.scss */
.categories-area .title {
  color: #ff7d13;
  line-height: 1.5em;
}

/* line 133, ../sass/_layout.scss */
.pledge-area {
  padding: 30px;
  background: #f7eee2;
  border-top: 1px solid #e8dfd3;
  position: relative;
}
/* line 138, ../sass/_layout.scss */
.pledge-area:after, .pledge-area:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
/* line 147, ../sass/_layout.scss */
.pledge-area:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #e8dfd3;
  border-width: 11px;
  margin-left: -11px;
  left: 12.5%;
  display: none;
}
/* line 155, ../sass/_layout.scss */
.pledge-area:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #f7eee2;
  border-width: 10px;
  margin-left: -10px;
  left: 12.5%;
  display: none;
}

/* line 164, ../sass/_layout.scss */
.activities {
  overflow: hidden;
  margin: 0 30px;
}
/* line 167, ../sass/_layout.scss */
.activities .rank {
  width: 20px;
  padding: 12px 30px;
  color: #0b9999;
  font-weight: 700;
}
/* line 174, ../sass/_layout.scss */
.activities .rule {
  padding-left: 0;
}

/* line 181, ../sass/_layout.scss */
.sub-bar .label {
  font-weight: 400;
  color: #666666;
}
/* line 185, ../sass/_layout.scss */
.sub-bar .filter {
  margin-right: 60px;
  float: left;
}
/* line 188, ../sass/_layout.scss */
.sub-bar .filter:last-child {
  margin-right: 0;
}

/* line 193, ../sass/_layout.scss */
.mini-game {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0 0 0 0;
  padding: 30px;
  box-sizing: border-box;
  background: rgba(255, 252, 247, 0.95);
}
/* line 204, ../sass/_layout.scss */
.mini-game .container {
  margin: 0 auto;
}
/* line 207, ../sass/_layout.scss */
.mini-game .introduction-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
/* line 211, ../sass/_layout.scss */
.mini-game .introduction {
  text-align: center;
  text-align: justify;
  padding-top: 30px;
}
/* line 215, ../sass/_layout.scss */
.mini-game .introduction h1, .mini-game .introduction footer {
  text-align: center;
}
/* line 218, ../sass/_layout.scss */
.mini-game .introduction header {
  margin: 0 auto 45px auto;
}
/* line 221, ../sass/_layout.scss */
.mini-game .introduction .content {
  margin: 0 0 37.5px 0;
}
/* line 224, ../sass/_layout.scss */
.mini-game .introduction footer {
  margin-bottom: 30px;
}
/* line 229, ../sass/_layout.scss */
.mini-game .sreen-game .instruction {
  text-align: center;
  position: absolute;
  bottom: -20px;
  left: 49%;
}
/* line 235, ../sass/_layout.scss */
.mini-game .sreen-game .instruction, .mini-game .sreen-game .timer, .mini-game .sreen-game .gauge {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 241, ../sass/_layout.scss */
.mini-game .sreen-game.interface-is-displayed .gauge {
  left: 30px;
  opacity: 1;
}
/* line 245, ../sass/_layout.scss */
.mini-game .sreen-game.interface-is-displayed .timer {
  right: 30px;
  opacity: 1;
}
/* line 249, ../sass/_layout.scss */
.mini-game .sreen-game.interface-is-displayed .instruction {
  bottom: 30px;
  opacity: 1;
}

/* line 3, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .timer {
  font-size: 60px;
  position: absolute;
  right: -100px;
  opacity: 0;
  color: #ff7d13;
}
/* line 10, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge {
  position: absolute;
  top: 30px;
  left: -45px;
  opacity: 0;
  margin: 0;
}
/* line 16, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge li {
  height: 20px;
  display: block;
  margin: 0 0 7.5px 0;
}
/* line 22, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-1 {
  width: 45px;
  background: #ff7d13;
}
/* line 26, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-2 {
  width: 40px;
  background: #ff9036;
}
/* line 30, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-3 {
  width: 35px;
  background: #ffa459;
}
/* line 34, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-4 {
  width: 30px;
  background: #ffb87d;
}
/* line 38, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-5 {
  width: 25px;
  background: #ffcba1;
}
/* line 42, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-6 {
  width: 20px;
  background: #ffdec4;
}

/* line 3, ../sass/game/_game.scss */
.mini-game {
  -webkit-backface-hidden: hidden;
  -webkit-animation-name: game-background;
  -webkit-animation-duration: 1600ms;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}
/* line 13, ../sass/game/_game.scss */
.mini-game header, .mini-game .content {
  -webkit-backface-hidden: hidden;
  -webkit-animation-name: game-header-body;
  -webkit-animation-duration: 1600ms;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}
/* line 24, ../sass/game/_game.scss */
.mini-game footer {
  position: relative;
  -webkit-backface-hidden: hidden;
  -webkit-animation-name: game-footer;
  -webkit-animation-duration: 1600ms;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
}
/* line 36, ../sass/game/_game.scss */
.mini-game * {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes game-background {
  /* line 44, ../sass/game/_game.scss */
  0% {
    opacity: 0;
  }

  /* line 48, ../sass/game/_game.scss */
  25% {
    opacity: 1;
  }

  /* line 52, ../sass/game/_game.scss */
  50% {
    opacity: 1;
  }

  /* line 56, ../sass/game/_game.scss */
  75% {
    opacity: 1;
  }

  /* line 60, ../sass/game/_game.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes game-header-body {
  /* line 65, ../sass/game/_game.scss */
  0% {
    opacity: 0;
  }

  /* line 69, ../sass/game/_game.scss */
  25% {
    opacity: 0;
  }

  /* line 73, ../sass/game/_game.scss */
  50% {
    opacity: 0;
  }

  /* line 77, ../sass/game/_game.scss */
  75% {
    opacity: 1;
  }

  /* line 81, ../sass/game/_game.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes game-footer {
  /* line 86, ../sass/game/_game.scss */
  0% {
    opacity: 0;
    top: 20px;
  }

  /* line 91, ../sass/game/_game.scss */
  25% {
    opacity: 0;
    top: 20px;
  }

  /* line 96, ../sass/game/_game.scss */
  50% {
    opacity: 0;
    top: 20px;
  }

  /* line 101, ../sass/game/_game.scss */
  75% {
    opacity: 0;
    top: 20px;
  }

  /* line 106, ../sass/game/_game.scss */
  100% {
    opacity: 1;
    top: 0;
  }
}

/* line 3, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .timer {
  font-size: 60px;
  position: absolute;
  right: -100px;
  opacity: 0;
  color: #ff7d13;
}
/* line 10, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge {
  position: absolute;
  top: 30px;
  left: -45px;
  opacity: 0;
  margin: 0;
}
/* line 16, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge li {
  height: 20px;
  display: block;
  margin: 0 0 7.5px 0;
}
/* line 22, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-1 {
  width: 45px;
  background: #ff7d13;
}
/* line 26, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-2 {
  width: 40px;
  background: #ff9036;
}
/* line 30, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-3 {
  width: 35px;
  background: #ffa459;
}
/* line 34, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-4 {
  width: 30px;
  background: #ffb87d;
}
/* line 38, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-5 {
  width: 25px;
  background: #ffcba1;
}
/* line 42, ../sass/game/_tap-tap.scss */
.mini-game .tap-tap .gauge .level-6 {
  width: 20px;
  background: #ffdec4;
}

/* line 2, ../sass/_state.scss */
.tag .is-disabled {
  background: #0b9999;
}

/* line 8, ../sass/_state.scss */
.categories-area li.active {
  color: #666666;
  opacity: 0.4;
  text-decoration: line-through;
}

/* line 16, ../sass/_state.scss */
.card {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: center top 50%;
  -moz-transform-origin: center top 50%;
  -ms-transform-origin: center top 50%;
  -o-transform-origin: center top 50%;
  transform-origin: center top 50%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 22, ../sass/_state.scss */
.card.is-not-revealed {
  background-position: 0 0;
}
/* line 24, ../sass/_state.scss */
.card.is-not-revealed .category, .card.is-not-revealed .smiley {
  display: none;
}
/* line 29, ../sass/_state.scss */
.card.is-revealed .category, .card.is-revealed .smiley {
  position: relative;
  z-index: 100;
}
/* line 33, ../sass/_state.scss */
.card.is-revealed:hover {
  cursor: pointer;
}
/* line 36, ../sass/_state.scss */
.card.is-revealed .category {
  margin: 40px 27px 10px 27px;
  color: #ff7d13;
}
/* line 41, ../sass/_state.scss */
.card.is-revealed .smiley {
  color: rgba(255, 125, 19, 0.6);
  font-weight: bold;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 49, ../sass/_state.scss */
.card.is-revealed .first-background-color,
.card.is-revealed .second-background-color,
.card.is-revealed .first-background-image,
.card.is-revealed .second-background-image {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 55, ../sass/_state.scss */
.card.is-revealed .first-background-color,
.card.is-revealed .second-background-color {
  background-color: rgba(255, 125, 19, 0.3);
}
/* line 58, ../sass/_state.scss */
.card.is-revealed .first-background-image {
  background-position: 0 -577px;
}
/* line 61, ../sass/_state.scss */
.card.is-revealed .second-background-image {
  background-position: 0 -297px;
}
/* line 65, ../sass/_state.scss */
.card.is-revealed .first-background-image,
.card.is-revealed .second-background-image {
  background-repeat: no-repeat;
  background-position: top middle;
}
/* line 71, ../sass/_state.scss */
.card.is-revealed.default .first-background-color,
.card.is-revealed.default .second-background-color {
  background-color: rgba(102, 102, 102, 0.3);
}
/* line 74, ../sass/_state.scss */
.card.is-revealed.default .category {
  color: #666666;
}
/* line 77, ../sass/_state.scss */
.card.is-revealed.default .smiley {
  color: rgba(102, 102, 102, 0.6);
}
/* line 82, ../sass/_state.scss */
.card.back {
  position: absolute;
  top: 0;
  left: 18px;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* line 91, ../sass/_state.scss */
.card-area .span3.show .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
/* line 94, ../sass/_state.scss */
.card-area .span3.show .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* line 102, ../sass/_state.scss */
.playground.is-card-1 .pledge-area:before, .playground.is-card-1 .pledge-area:after {
  left: 12.5%;
}
/* line 109, ../sass/_state.scss */
.playground.is-card-2 .pledge-area:before, .playground.is-card-2 .pledge-area:after {
  left: 38%;
}
/* line 116, ../sass/_state.scss */
.playground.is-card-3 .pledge-area:before, .playground.is-card-3 .pledge-area:after {
  left: 63.5%;
}
/* line 123, ../sass/_state.scss */
.playground.is-card-4 .pledge-area:before, .playground.is-card-4 .pledge-area:after {
  left: 89.5%;
}

@media only screen and (max-width: 600px) {
  /* line 3, ../sass/_responsive.scss */
  header {
    height: 35px;
  }
  /* line 4, ../sass/_responsive.scss */
  header .logo {
    text-align: center;
    padding: 0;
  }

  /* line 11, ../sass/_responsive.scss */
  .playground h1 {
    font-size: 18px;
    line-height: 18px;
  }
  /* line 15, ../sass/_responsive.scss */
  .playground p {
    padding-bottom: 0;
  }
  /* line 18, ../sass/_responsive.scss */
  .playground .action {
    width: 100%;
    float: none;
    position: fixed;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    border-top: #e8dfd3 solid 1px;
    background: #f7eee2;
    -webkit-box-shadow: rgba(0, 0, 0, 0.55) 0px -2px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.55) 0px -2px 1px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px -2px 1px;
    z-index: 80;
  }
  /* line 31, ../sass/_responsive.scss */
  .playground .action .btn {
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 5px inherit;
    font-size: 25px;
  }
  /* line 41, ../sass/_responsive.scss */
  .playground .time-played {
    display: none;
  }

  /* line 45, ../sass/_responsive.scss */
  .playground.box, .activities {
    margin: 10px;
  }

  /* line 48, ../sass/_responsive.scss */
  .activities {
    margin-bottom: 51px;
  }
  /* line 50, ../sass/_responsive.scss */
  .activities td.rank, .activities td.rule {
    padding: 6px 10px;
    font-weight: bold;
  }
  /* line 54, ../sass/_responsive.scss */
  .activities td.rule {
    padding: 6px 0 6px 10px;
  }
}
@media (min-width: 1000px) and (max-width: 2000px) {
  /* line 64, ../sass/_responsive.scss */
  .card,
  .first-background-color,
  .second-background-color,
  .first-background-image,
  .second-background-image {
    max-width: 120px;
    max-height: 195px;
    background-size: cover !important;
  }

  /* line 70, ../sass/_responsive.scss */
  .card.is-revealed .category {
    margin: 20px 10px 10px 10px;
  }

  /* line 73, ../sass/_responsive.scss */
  .first-background-image {
    background-position: 0 -435px !important;
  }

  /* line 76, ../sass/_responsive.scss */
  .second-background-image {
    background-position: 0 -229px !important;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  /* line 86, ../sass/_responsive.scss */
  .card,
  .first-background-color,
  .second-background-color,
  .first-background-image,
  .second-background-image {
    max-width: 120px;
    max-height: 189px;
    background-size: cover !important;
  }

  /* line 92, ../sass/_responsive.scss */
  .card.is-revealed .category {
    margin: 20px 10px 10px 10px;
  }

  /* line 95, ../sass/_responsive.scss */
  .first-background-image {
    background-position: 0 -446px !important;
  }

  /* line 98, ../sass/_responsive.scss */
  .second-background-image {
    background-position: 0 -229px !important;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  /* line 103, ../sass/_responsive.scss */
  body {
    padding: 0 !important;
  }

  /* line 106, ../sass/_responsive.scss */
  .categories-area, .playground {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  /* line 116, ../sass/_responsive.scss */
  .card,
  .first-background-color,
  .second-background-color,
  .first-background-image,
  .second-background-image {
    max-width: 120px;
    max-height: 189px;
    background-size: cover !important;
  }

  /* line 122, ../sass/_responsive.scss */
  .card.is-revealed .category {
    margin: 20px 10px 10px 10px;
  }

  /* line 125, ../sass/_responsive.scss */
  .first-background-image {
    background-position: 0 -445px !important;
  }

  /* line 128, ../sass/_responsive.scss */
  .second-background-image {
    background-position: 0 -229px !important;
  }
}
@media (min-width: 10px) and (max-width: 600px) {
  /* line 133, ../sass/_responsive.scss */
  .box, .main-content, .card-area {
    padding: 10px;
    margin-bottom: 10px;
  }

  /* line 137, ../sass/_responsive.scss */
  .action.row-fluid {
    padding: 2%;
  }
  /* line 139, ../sass/_responsive.scss */
  .action.row-fluid .offset4:first-child {
    margin-left: 0 !important;
    width: 96% !important;
  }

  /* line 145, ../sass/_responsive.scss */
  .categories-area ul {
    margin: 0;
  }
  /* line 148, ../sass/_responsive.scss */
  .categories-area h6 {
    margin-top: 0;
  }
  /* line 151, ../sass/_responsive.scss */
  .categories-area li {
    width: 50%;
    float: left;
    font-size: 12px;
    font-weight: bold;
  }

  /* line 159, ../sass/_responsive.scss */
  .card-area .card {
    left: 0;
  }
  /* line 162, ../sass/_responsive.scss */
  .card-area .span3 {
    width: 46.80852% !important;
  }
  /* line 164, ../sass/_responsive.scss */
  .card-area .span3:nth-child(1), .card-area .span3:nth-child(2) {
    margin-bottom: 10px;
  }
  /* line 167, ../sass/_responsive.scss */
  .card-area .span3:nth-child(3), .card-area .span3:nth-child(4) {
    margin-bottom: 10px;
  }
  /* line 170, ../sass/_responsive.scss */
  .card-area .span3:nth-child(3) {
    clear: both !important;
    margin-left: 0;
  }

  /* line 176, ../sass/_responsive.scss */
  body {
    padding: 0 !important;
  }

  /* line 179, ../sass/_responsive.scss */
  .categories-area, .playground {
    float: none !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  /* line 189, ../sass/_responsive.scss */
  .card,
  .first-background-color,
  .second-background-color,
  .first-background-image,
  .second-background-image {
    max-width: 120px;
    max-height: 194px;
    min-height: 100px !important;
    background-size: cover !important;
  }

  /* line 196, ../sass/_responsive.scss */
  .card.is-revealed .category {
    margin: 20px 10px 10px 10px;
  }

  /* line 199, ../sass/_responsive.scss */
  .first-background-image {
    background-position: 0 -448px !important;
  }

  /* line 202, ../sass/_responsive.scss */
  .second-background-image {
    background-position: 0 -229px !important;
  }
}
/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: http://lemonwi.se co-founder

    */
@font-face {
  font-family: "FontAwesome";
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('eot'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.otf') format('opentype'), url('../font/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('../font/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* sprites.less reset */
/* line 43, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}

/* line 54, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  display: block;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
/* line 61, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

/* line 70, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
/* line 76, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-large:before {
  vertical-align: top;
  font-size: 4/3em;
}

/* line 83, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

/* line 91, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* line 97, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em;
}

/* line 104, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
/* line 108, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
/* line 112, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
li[class^="icon-"].icon-large:before,
li[class*=" icon-"].icon-large:before {
  text-indent: -4/3em;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
/* line 119, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 120, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-music:before {
  content: "\f001";
}

/* line 121, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-search:before {
  content: "\f002";
}

/* line 122, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-envelope:before {
  content: "\f003";
}

/* line 123, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 124, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-star:before {
  content: "\f005";
}

/* line 125, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 126, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-user:before {
  content: "\f007";
}

/* line 127, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-film:before {
  content: "\f008";
}

/* line 128, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 129, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 130, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 131, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 132, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 133, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 135, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 136, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-off:before {
  content: "\f011";
}

/* line 137, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 138, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 139, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 140, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-home:before {
  content: "\f015";
}

/* line 141, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-file:before {
  content: "\f016";
}

/* line 142, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-time:before {
  content: "\f017";
}

/* line 143, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-road:before {
  content: "\f018";
}

/* line 144, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 145, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 146, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 147, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 148, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 149, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 is not a valid unicode character. all shifted one down */
/* line 152, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 153, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 154, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 155, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 156, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 157, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 158, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 159, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 160, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 161, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 162, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 163, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 164, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 165, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 166, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 168, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 169, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-font:before {
  content: "\f031";
}

/* line 170, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 171, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 172, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 173, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 174, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 175, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 176, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 177, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 178, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 179, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 180, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 181, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 182, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 184, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 185, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 186, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 187, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 188, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 189, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-share:before {
  content: "\f045";
}

/* line 190, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-check:before {
  content: "\f046";
}

/* line 191, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-move:before {
  content: "\f047";
}

/* line 192, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 193, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 194, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 195, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 196, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 197, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 198, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 200, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 201, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 202, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 203, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 204, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 205, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 206, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 207, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 208, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 209, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 210, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 211, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 212, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 213, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 214, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 216, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 217, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 218, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 219, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 220, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-share-alt:before {
  content: "\f064";
}

/* line 221, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 222, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 223, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 224, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 225, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 226, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 227, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 228, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 229, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 230, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 232, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 233, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 234, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 235, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 236, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-random:before {
  content: "\f074";
}

/* line 237, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 238, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 239, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 240, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 241, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 242, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 243, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 244, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 245, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 246, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 248, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 249, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 250, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 251, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 252, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-key:before {
  content: "\f084";
}

/* line 253, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 254, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 255, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-thumbs-up:before {
  content: "\f087";
}

/* line 256, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-thumbs-down:before {
  content: "\f088";
}

/* line 257, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 258, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 259, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 260, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 261, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 262, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 264, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 265, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 266, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 267, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 268, ../sass/compass_twitter_bootstrap/_font-awesome.scss */
.icon-lemon:before {
  content: "\f094";
}
