/*
Syntax error: File to import not found or unreadable: theme.
              Load paths:
                /Users/thomasdelissen/Sites/swally-mobile/assets/sass
                /Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/frameworks/compass/stylesheets
                Compass::SpriteImporter
        on line 61 of /Users/thomasdelissen/Sites/swally-mobile/assets/sass/_initializer.scss
        from line 1 of /Users/thomasdelissen/Sites/swally-mobile/assets/sass/app.scss

Backtrace:
/Users/thomasdelissen/Sites/swally-mobile/assets/sass/_initializer.scss:61
/Users/thomasdelissen/Sites/swally-mobile/assets/sass/app.scss:1
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/import_node.rb:45:in `import'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:215:in `visit_import'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `block in visit_import'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `map'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:225:in `visit_import'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/tree/root_node.rb:20:in `render'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:68:in `perform'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/bin/compass:19:in `load'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/bin/compass:19:in `<main>'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/bin/ruby_noexec_wrapper:14:in `eval'
/Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: theme.\A               Load paths:\A                 /Users/thomasdelissen/Sites/swally-mobile/assets/sass\A                 /Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Users/thomasdelissen/.rvm/gems/ruby-1.9.3-p374@rails3tutorial2ndEd/gems/compass-0.12.2/frameworks/compass/stylesheets\A                 Compass::SpriteImporter\A         on line 61 of /Users/thomasdelissen/Sites/swally-mobile/assets/sass/_initializer.scss\A         from line 1 of /Users/thomasdelissen/Sites/swally-mobile/assets/sass/app.scss"; }
